/* Main container that wraps everything */
.main-contain {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f9;
}

/* Card-style container */
.contain-card {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 90%;
  
  margin: 20px auto;
  box-sizing: border-box;
}

/* Headings */
.contain-card h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-align: center; /* Center the h1 */
}

.contain-card h4 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 15px;
  text-align: center;  /* Center the h4 */
}

.custom-link {
  font-size: 1.5rem;
  font-weight: bold;
  color: blue;
  text-decoration: none;
}

/* Contact Info */
.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items vertically */
  margin-top: 20px;
}

.contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.contact-icon {
  margin-right: 10px;
  font-size: 1.2rem;
  color: #007bff;
}

/* Social Links */
.social-links {
  display: flex;
  justify-content: center; /* Center the social icons */
  margin-top: 20px;
}

.social-icon {
  font-size: 3rem;
  margin: 0 10px;
  color: #333;
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: #0056b3;
}


/* Responsive Styles - Mobile First */

/* Default styles (for smaller screens) */
.contain-card {
  padding: 20px;
}

.contain-card h1 {
  font-size: 2rem;
}

.contain-card h4, .custom-link {
  font-size: 1.3rem;
}

.contact-item {
  flex-direction: column; /* Stack contact items vertically */
  align-items: center; /* Center icon and text */
  text-align: center; /* Center text within the item */
}

.contact-icon {
    margin-right: 0; /* Remove margin for stacked layout */
    margin-bottom: 5px; /* Add spacing below icon */
}


/* Medium screens (tablets and larger phones) */
@media (min-width: 768px) {
  .contain-card {
    padding: 75px;
  }

  .contain-card h1 {
    font-size: 2.5rem;
    background-color: #18b660;
    color: aliceblue;
    padding: 1.5%;
  }

  .contain-card h4, .custom-link {
    font-size: 1.5rem;
  }

  .contact-info {
    flex-direction: row; /* Arrange horizontally */
    justify-content: space-around;
  }
  .contact-item {
    flex-direction: row; /* Restore horizontal layout */
    align-items: center; /* Align items vertically */
    text-align: left; /* Align text to the left */
  }
  .contact-icon {
    margin-right: 10px; /* Add margin back */
    margin-bottom: 0; /* Remove bottom margin */
  }

  .social-links {
    justify-content: center; /* Center on larger screens if needed */
  }
}

/* Large screens (desktops) */
@media (min-width: 1200px) {
  .contain-card {
    max-width: 1000px;
  }
}